:root {
  --clr-cream: hsl(30, 38%, 92%);
  --clr-cyan-600: hsl(158, 36%, 37%);
  --clr-cyan-700: hsl(158, 36%, 27%);

  --clr-grayish-blue-600: hsl(228, 12%, 48%);
  --clr-blue-900: hsl(212, 21%, 14%);
  --fs-body: 1.4rem;
  --fs-sub-heading: 1.6rem;

  --fw-bold: 700;
  --fw-regular: 500;
  --ff-body: "Montserrat", sans-serif;
  --ff-title: "Fraunces", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  line-height: 1.6em;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--clr-cream);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.product-card {
  max-width: 32rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
}

.my-2 {
  margin-block: 1.4rem;
}
.product__info {
  display: flex;
  flex-direction: column;

  padding: 3rem 2rem;

}
.sub-heading {
  letter-spacing: 0.5rem;
  color: var(--clr-grayish-blue-600);
}
.heading-primary {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);

  font-size: 3rem;

  text-transform: capitalize;
  line-height: 1.2;
  color: var(--clr-blue-900);
}

.txt {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--clr-grayish-blue-600);
}

.icon {
  width: 24px;
}
.btn {
    display:block;

  text-transform: capitalize;
  font-size: 1.4rem;
  font-family:var(--ff-body);
  font-weight:var(--fw-bold);
  color: white;
  background-color: var(--clr-cyan-600);
  border: none;
 
  padding: 0.3em 0;
  border-radius: 5px;

 cursor:pointer;
}
.btn:hover{
    background-color: var(--clr-cyan-700);

}
.txt-cap {
  text-transform: capitalize;
}
.txt-upper {
  text-transform: uppercase;
}
.price {

  display: flex;
  align-items: center;
  gap:2rem;
}
.price-current {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  color: var(--clr-cyan-600);
  font-size:2.6rem;
}
.price-old {
  font-size: 1.4rem;

  color: var(--clr-grayish-blue-600);
}

@media (min-width: 650px) {
  .product-card {
    display: flex;

 max-width:70rem;

    justify-content: center;
    align-items: center;

  }

  .product-card > *{
    flex-basis:100%;
  }
  .heading-primary {
    font-size:4.5rem;
  }
  .txt{
    font-size:1.6rem;
  }
}
